page-congress {

 .locationtxt{
   font-size: 12px;
   font-family: 'Kalam', cursive;
 }

 .eventtxt{
   font-weight: bold;
   font-size: 16px;
   font-family: 'Permanent Marker', cursive;;
 }

 .eventname{
   font-family: 'Bangers', sans-serif;
 }
}
